/* Layout */
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 8px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* App */

.logo {
  width: 120px;
}

.display-id-group {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.btn.btn-primary.btn-continue {
  margin-top: 20px;
  width: 400px;
  align-self: flex-end;
  font-weight: bold;
  font-size: 20pt;
}

.terms {
  align-self: flex-end;
}

.greenbox {
  padding: 4px;
  border: #4ab767 1px solid;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 8px;
}

.greenbox h4 {
  margin-top: 0px;
}

/* Form */
.form-control {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  margin-top: 0 auto;
  padding: 6px 6px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.42857143;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control.id-form {
  font-family: "Lucida Console", Monaco, monospace;
  padding: 0;
  text-indent: 8px;
  letter-spacing: 40px;
  background: none;
  letter-spacing: 1em;
  height: 3em;
  font-size: 4em;
}
.form-control:focus {
  border: 1px solid green;
}

/* Buttons */
.btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 1.42857;
  border-radius: 3px;
}

.btn.btn-primary {
  color: #fff;
  background-color: #4ab767;
  border-color: #4ab767;
}

/* Messages */
.alert {
  padding: 4px 22px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 13px;
  line-height: 15px;
}

.alert.display-id-error {
  margin-bottom: 20px;
  display: none;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #333;
}

.text-center {
  text-align: center;
}
